# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Logs
logs/

# Dataset
data/

# Ignore only large training datasets
data/

# Ignore only large model binaries
models/*.pkl

# Keep metadata JSON files
!models/*.json

# Keep deployment artifacts
!artifacts/

# Ignore only very large intermediate files
artifacts/cleaned_data.csv
artifacts/feature_data.csv

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db